poetry.lock
pyproject.toml
.replit
.breakpoints
__pycache__/DrawClass.cpython-38.pyc
__pycache__/PlayerClass.cpython-38.pyc
__pycache__/TextClass.cpython-38.pyc
__pycache__/static.cpython-38.pyc
replit.nix